.container-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f0f0f0;
  min-height: 100vh;
  overflow: auto;
}

.pokeinfo-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.2rem;
  padding: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 800px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pokeinfo-header {
  display: flex;
  align-items: center;
  width: 100%;
  column-gap: 2rem;
}

.pokeinfo-header h1,
.base-stat h2 {
  text-transform: capitalize;
}

.pokeinfo-image {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-right: 1rem;
}

.pokeinfo-details {
  flex: 1;
  font-family: var(--main-font);
}

.pokeinfo-details h1 {
  margin: 0 0 0.5rem;
}

.pokeinfo-details h3 {
  margin: 0.25rem 0;
  font-family: var(--secondary-font);
}

.base-stat-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 1rem;
  font-family: var(--main-font);
}

.base-stat {
  flex: 1;
  margin-right: 1rem;
}

.base-stat div {
  font-family: var(--secondary-font);
}

.stat {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.stat-icon {
  display: flex;
  align-items: center;
}

.stat-attr {
  font-weight: bold;
  margin-left: 0.5rem;
}

.stat-value {
  margin-left: auto;
}

.stat-graph {
  flex: 1;
  height: 350px;
  margin-top: 0.5rem;
}

.stat-graph canvas {
  border: 1px solid #ccc;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .base-stat-container {
    flex-direction: column;
  }

  .pokeinfo-header {
    column-gap: 1rem;
  }

  .base-stat {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .pokeinfo-card {
    margin-top: 410px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 90px;
  }

  .pokeinfo-details h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 520px) {
  .pokeinfo-card {
    margin-top: 450px;
  }
  .pokeinfo-header {
    column-gap: 0.5rem;
  }
}
